HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Files to ignore ###
*.log
*.swp
*.tmp
*.bak
*.DS_Store
*.orig
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.tgz
*.gz
*.7z
*.rar
*.db
*.sqlite
*.pid
*.pid.lock
*.lock
*.pid.lock
*.pidfile
*.pidfile.lock
*.pidfile.lock.*
*.pidfile.lock.*.lock
*.pidfile.lock.*.lock.*
*.jpeg
*.jpg
*.png
*.gif
*.webp
