<nav class="navbar">
    <app-toast-error [currentNotification]="messageStatus"></app-toast-error>
    <div class="navbar-container">
        <!-- Logo et nom du site -->
        <div class="navbar-brand">

            <div class="logo">
                <a href="" (click)="navigateAndSetActive('/', $event)">
                    <img src="/logo.png" alt="">
                </a>
            </div>
        </div>

        <!-- Menu de navigation -->
        <ul class="navbar-menu">
            <li class="navbar-item">
                <a href="#" class="navbar-link active" (click)="navigateAndSetActive('/', $event)">Catalogue</a>
            </li>
            @if (isSeller()) {
            <li class="navbar-item">
                <a href="#" class="navbar-link" (click)="navigateAndSetActive('/dashboard', $event)">Dashboard</a>
            </li>
            }
        </ul>

        <!-- Actions utilisateur -->
        <div class="navbar-actions">
            <!-- Favoris -->
            <!--button class="action-btn favorites-btn">
                <span class="icon">♡</span>
            </!--button-->

            <!-- Panier -->
            <button class="action-btn cart-btn">
                <span class="icon">🛒</span>
                <span class="cart-count">3</span>
            </button>

            <!-- Bouton de connexion -->
            @if (!isSignIn()) {
            <button class="signin-btn" (click)="onSignIn()">
                Sign In
            </button>
            }@else {
            <div class="user-info">
                <span class="username" [attr.data-full-name]="currentUser()?.name" (click)="myProfile()">{{
                    currentUser()?.name }}</span>
                <button class="logout-btn" (click)="onSignOut()">
                    Logout
                </button>
            </div>
            }
        </div>

        <!-- Menu mobile (hamburger) -->
        <div class="mobile-menu-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>